.char-card {
  background: black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgb(252, 250, 250), 0 3px 6px rgb(250, 248, 248);
}